body {
    background-color: lightgray;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.banner-image {
    width: 128px;
    height: 128px;
    object-fit: cover;
    clip-path: circle(50%);
}

header {
    width: 800px;
    /* border: 1px solid red; */
    margin-top: 20px;
    background-color: #22a9f2;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}